<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Books</title>
    <link rel="stylesheet" href="{% static 'css/newbookstyle.css' %}">
</head>
<body>
    <div id="title"><h1>Book Record Management System<span style="float: right; font-weight: 10; font-size: 25px">Hi! {{username}}</span></h1></div>
    <div class="header">
        <a href="/brmapp/new-book">New Book</a>
        <a href="/brmapp/view-book">View Book</a>
        <a href="/brmapp/search-book">Search Book</a>
         <a href="/brmapp/user-logout">Logout</a>
    </div>
    <div class="main">
        <div id="search_form">
           <form action="/brmapp/search" method="post">{% csrf_token %}
               <table class="book_form"><caption>Search Book</caption>{{form}}</table>
               <input type="submit" value="Search" id="form_input">
           </form>
        </div>

    {% if book %}
    <div class="search_result">
        <table class="book_form">
            <tr>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>PRICE</th>
                <th>PUBLISHER</th>
            </tr>
            {% for item in book %}
            <tr>
                <td>{{item.title}}</td>
                <td>{{item.author}}</td>
                <td>{{item.price}}</td>
                <td>{{item.publisher}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <h2 style="opacity: 0.5; text-align: center; margin: 200px">No Matching Results Found</h2>
    {% endif %}
    </div>
</body>
</html>