<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Books</title>
    <link rel="stylesheet" href="{% static 'css/newbookstyle.css'%}">
</head>
<body>
    <div id="title"><h1>Book Record Management System</h1></div>
    <div class="header">
        <a href="new-book">New Book</a>
        <a href="view-book">View Book</a>
        <a href="search-book">Search Book</a>
    </div>
    <div class="main">
        {% if book %}
        <table class="book_form">
            <caption>View Book</caption>
            <tr>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>PRICE</th>
                <th>PUBLISHER</th>
            </tr>
            {% for rows in book %}
            <tr>
                <td>{{rows.title}}</td>
                <td>{{rows.author}}</td>
                <td>{{rows.price}}</td>
                <td>{{rows.publisher}}</td>
                <td><a style="text-decoration: none" href="/brmapp/edit-book?bookid={{rows.id}}">EDIT</a></td>
                <td><a style="text-decoration: none" href="/brmapp/delete-book?bookid={{rows.id}}">DELETE</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1 style="opacity: 0.6; text-align: center; margin: 200px">No Book Records Found</h1>
        {% endif %}
    </div>

</body>
</html>